# Mission to Mars

In [2]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
# from config import exe_path
from selenium import webdriver
import time
import pymongo

In [3]:
# identify location of chromedriver and store it as a variable
driverPath = !which chromedriver

# Setup configuration variables to enable Splinter to interact with browser
executable_path = {'executable_path': '/Users/richardkim/Desktop/Homework/web-scraping-challenge/Mission_to_Mars/chromedriver-2'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# Create a empty dictionary to store the data
scraped_data = {}

In [5]:
# URL of page to be scraped
url_mars = "https://redplanetscience.com"
# url_nasa = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [6]:
# Use the browser to visit the url
browser.visit(url_mars)

In [7]:
# Wait for 5 seconds for error purpouses
time.sleep(5)

In [8]:
# Return the rendered page by the browser
html_nasa = browser.html

In [9]:
# Use beatifulsoup to scrap the page rendered by the browser
soup = bs(html_nasa, 'html.parser')

In [10]:
# Search for the div where the title is located
results = soup.find_all('div', class_="content_title")
news_title = results[0].text
print(f"Title: {news_title}")

Title: NASA Establishes Board to Initially Review Mars Sample Return Plans

In [11]:
# Search for the div where the paragraph news is located
results = soup.find_all('div', class_="article_teaser_body")
new_p = results[0].text
print(f"Paragraph: {new_p}")

Paragraph: The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.

In [12]:
# Create a dictionary with the scraped data
mars_news = {"Title":news_title, "Paragraph": new_p}
mars_news

{'Title': 'NASA Establishes Board to Initially Review Mars Sample Return Plans',
 'Paragraph': 'The board will assist with analysis of current plans and goals for one of the most difficult missions humanity has ever undertaken.'}

In [13]:
# Save the scraped data to an entry of the dictionary
scraped_data["Title"] = news_title
scraped_data["Paragraph"] = new_p

In [14]:
# URL for JPL Nasa websit
image_url = "https://spaceimages-mars.com"

# Use the browser to visit the url
browser.visit(image_url)

In [15]:
# Use beatifulsoup to scrap the page rendered by the browser
html_jpl = browser.html
soup = bs(html_jpl, 'html.parser')

In [16]:
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(1)

/Users/richardkim/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:520: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [17]:
# Use beatifulsoup to scrap the page rendered by the browser
html_jpl = browser.html
soup = bs(html_jpl, 'html.parser')

In [18]:
featured_url = soup.find("img", class_="fancybox-image")["src"]
featured_image_url = f'https://spaceimages-mars.com{featured_url}'
print(featured_image_url)

https://spaceimages-mars.comimage/featured/mars1.jpg

In [19]:
# # Create a dictionary with the scraped data
# FIU = {"featured_image_url =" (featured_image_url)}
# FIU

In [20]:
# Save the scraped data to an entry of the dictionary
scraped_data["ImageURL"] = featured_image_url

In [21]:
# URL
url_mars_facts = "https://galaxyfacts-mars.com"

In [22]:
# Use Pandas to automatically scrape any tabular data from a page.
tables = pd.read_html(url_mars_facts)

# How many tables are available
len(tables)

2

In [23]:
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [24]:
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
# Select the intended table
table_facts = tables[0]
table_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [26]:
# Rename the table colums
table_facts.rename(columns={0:'Ind', 1:'Mars', 2: 'Earth'},inplace=True)
# table_facts = table_facts.set_index('Ind')
table_facts
table_facts.rename(columns={'Ind':''},inplace=True)
table_facts

                                       Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [27]:
# # Set the index to column 0 and format as dictionary
# table_dict = table_facts.to_dict()
# table_dict

In [28]:
# # Create a dictionary with the scraped data
# MarsFacts = {"TableHTML":table_dict}
# MarsFacts

In [29]:
# # Save the scraped data to an entry of the dictionary
# scraped_data["TableHTML"] = table_dict

In [30]:
scraped_data["TableHTML"] = table_facts.to_html()

In [36]:
# URL
url_mars_hemispheres = "https://marshemispheres.com"

In [37]:
# Use the browser to visit the url
browser.visit(url_mars_hemispheres)

In [38]:
# Splinter can capture a page's underlying html and use pass it to BeautifulSoup to allow us to scrape the content
html = browser.html
soup = bs(html, 'html.parser')

In [39]:
# By analyzing the page we can find that the images are in a div class='description'
results= soup.find_all('div',class_='description')

In [40]:
# Create a list with the name of the hemispheres
list_hemispheres = []
for i in range(len(results)):
    list_hemispheres.append(results[i].a.h3.text)

list_hemispheres

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [42]:
hemisphere_image_urls = []

# Create a list of dictionaries for each hemisphere
for i in range(len(list_hemispheres)):

    # Use the browser to visit the url
    browser.click_link_by_partial_text(list_hemispheres[i])
    
    # Splinter can capture a page's underlying html and use pass it to BeautifulSoup to allow us to scrape the content
    html = browser.html
    soup = bs(html, 'html.parser')

    # By analyzing the page we can find that the images link are in a li
    results_new = soup.find_all('li')


    # Append the dictionary with the image url string and the hemisphere title to a list.
    for n in range(len(results_new)):
        if results_new[n].a.text == 'Sample':
            hemisphere_image_urls.append({"title": list_hemispheres[i].replace("Hemisphere Enhanced", 'Hemisphere'), "img_url": results_new[0].a['href']})
            
    # Use the browser to visit the url
    browser.visit(url_mars_hemispheres)

/Users/richardkim/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/splinter/driver/webdriver/__init__.py:520: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [44]:
# Create a dictionary with the scraped data
hemisphere_stuff = hemisphere_image_urls
hemisphere_stuff

[{'title': 'Cerberus Hemisphere', 'img_url': 'images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'images/valles_marineris_enhanced-full.jpg'}]

In [45]:
# Save the scraped data to an entry of the dictionary
scraped_data["ListImages"] = hemisphere_image_urls

In [ ]:
# When you’ve finished testing, close your browser using browser.quit:
browser.quit()

In [ ]:
# The scraped data is available on the dictionary form
scraped_data

In [ ]:
# Create a list of all dictionaries with the scraped data
# scraped_data = [Nasa_News, JPL, MarsFacts, USGS]

In [ ]:
import pymongo

# Use flask_pymongo to set up mongo connection
conn =  "mongodb://localhost:27017/mars_mission_scraping"
client =  pymongo.MongoClient(conn)

# identify the collection and drop any existing data for this demonstration
db = client.mars_mission_scraping
db.mars_data.drop()

db.mars_data.insert_many([scraped_data])


# query_result = list(db.mars_data.find())
# query_result = (db.mars_data.find())
query_result = (db.mars_data.find_one())
query_result

In [ ]:
type(query_result)

In [ ]:
len(query_result)

In [ ]:
query_result['Title']

In [ ]:
query_result['TableHTML']